body{
    background-image: url(quote.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column ;
    gap: 7px;
    justify-content: center;
    align-items: center;
}

.heading{
   
    padding: 10px;
    width: 80%;
    border: solid 2px white;
    border-radius: 10px;
    background-color: rgb(26, 10, 10);
    color: white;
    text-align: center;
}

.quoteContainer{
    background-color: rgb(221, 225, 230);
    width: 500px;
    height: 270px;
    border: solid 2px white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 5px 0px 10px;
}
#quote{
    width: 80%;
    font-size: 1.5rem;
    line-height: 1.6;
}
#author{
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 1.6rem;
    color: rgb(154, 35, 100)
}

.quote-btn{
    width: 100px;
    margin-top: 40px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: solid 2px white;
    border-radius: 7px;
    background-color: rgb(26, 10, 10);
    color: white;
    
}

.quote-btn:hover{
    background-color: rgb(66, 25, 25);
}